body {
    background-color: #e9d7bc;
    margin-left: 30px;
    margin-right: 50px;
}

body {
    max-width: 100%;
}

p {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image-fluid {
    height: 600px;
    width: 400px;
}

header {
    background-color: #c39f8b;
    margin-left: 0px;
    text-align: center;
}

header:hover {
    background-color: #e9d7bc;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.container1 {
    background-color: #c39f8b;
    display: block;
    align-items: center;
    height: 40px;
    margin: 0px;
    padding: 0px;
    
}

.container1:hover {
    background-color: #e9d7bc;
}

.carousel-item {
    height: 800px;
    width: 600px;
}

.nav-link {
    background-color: #c39f8b;
    text-align: center;
}

.nav-link:hover {
    background-color: #e9d7bc;
}
@include media-breakpoint-up(sm){
    .custom-class {
      display: block;
    }
}

@include media-breakpoint-up(sm) {
    .custom-class 
    display: none;

}

@media (min-width: 576px) and (max-width: 768px){
    display: block;
    max-width: 100%;
    content: "phone"}

@media (min-width: 768px) and (max-width: 992px) {
    display: none;
    max-width: 100%;
    content: "tablet"
}

@media (min-width: 992px) and (max-width: 1200px) { 
    display: block;
    max-width: 100%;
 };

@media (min-width: 1200px) and (max-width: 1400px) { 
    display: block;
    max-width: 100px;
 };

@media (min-width: 1400px) { ... };

